# macOS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

hw1/*_icon_color.*
hw1/*_icon_gray.*
hw1/*_icon_color.png
hw1/*_icon_gray.png
hw1/*_icon_color.jpg
hw1/*_icon_gray.jpg
hw1/*_icon_gray.jpeg
hw1/風格.png
hw1/HW1\ Layout.jpg

!hw1/index.html
!hw1/main.ts
!hw1/styles.css
!hw1/Profile.jpg
!hw1/bakground.jpg
!hw1/Resume.pdf
!hw1/mail_icon.png
!hw1/NTU_PIANO.JPG
!hw1/NTU_PIANO_2.JPG
!hw1/Japan.JPG
!hw1/Travel_1.JPG
!hw1/Travel_2.jpeg
!hw1/NTU_PIANO_icon.png
!hw1/ITRI_icon.png
!hw1/RLL_Lab_icon.png
!hw1/NEHS_icon.png
!hw1/NTU_icon.png
!hw1/github_icon.png
!hw1/rpi_icon_color.png
!hw1/rpi_icon_gray.png
!hw1/pytorch_icon_color.png
!hw1/pytorch_icon_gray.png
!hw1/matlab_icon_color.jpg
!hw1/matlab_icon_gray.jpg
!hw1/git_icon_color.png
!hw1/git_icon_gray.jpeg
!hw1/C++_icon_color.jpg
!hw1/C++_icon_gray.png
!hw1/python_icon_color.jpg
!hw1/python_icon_gray.png
!hw1/facebook_icon.png
!hw1/linkedin_icon.png
!hw1/.gitkeep

